<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-md-12">
                <div class="copyright">
                    <a href="https://www.facebook.com/bitvizor/ " class="fa fa-facebook"></a>
                    <a href="https://www.reddit.com/user/Bitvizor" class="fa fa-reddit"></a>
                    <a href="https://twitter.com/Bitvizor" class="fa fa-twitter"></a>
                    <a href="https://t.me/bitvizortele" class="fa fa-telegram"></a>
                </div>
            </div>
            <div class="col-xs-2 ">
                <div  class="copyright">
                    <a href="/about">About Us | </a>
                    <a href="/contact">Contact Us</a>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="copyright">
                    <p>Copyright 2018</p>
                </div>
            </div>
        </div>
    </div>
</div>