<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<body>

<%- include('partials/navbar') %>


<div id="tableContainer">
    <div class="container">
        <h1>About Us</h1>
        <p>
            At bitvizor, you can track live cryptocurrency prices across different countries and exchanges, get Bitcoin price, Ethereum price, Litecoin price, Ripple price and more in your local currencies.
            Now, get the best exchange rate for your cryptocurrency at your fingertip, without having to scour the internet for the best price. Buy low, sell high!!!
        </p>
        <p>
            Our live prices and comparison tables are apt for any cryptocurrency trader. We give you the advantage of getting cryptocurrency prices in different countries at the same place, reducing the time and effort, helping you take quick decisions.
        </p>
        <p>
            You can also get updated with the latest cryptocurrency news from around the world at news.bitvizor.com. We focus on cryptocurrency, the blockchain, cryptocurrency exchanges, blockchain applications and projects, ICOs and more.
        </p>
    </div>
</div>


<%- include('partials/footer') %>

<%- include('partials/scripts') %>


</body>
</html>