.dropdown-currency {
    margin-left: 20px;
}
.dropdown-country {
    margin-left:20px;
}
.jumbotron {
   background-color: rgba(233, 236, 239, 0);
    margin-top: -60px;
}
.form-avgPrice {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.arrow-up {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-bottom: solid 20px rgb(255,255,255);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}
.arrow-down {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-top: solid 20px rgb(255,255,255);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}
.btn-orange {
    background-color: #FFC107;
    border-color: #FFC107;
}
.ct-chart {
    margin-top: 20px;
}
#tableContainer {
    margin-top: 50px;
}
.tbl-title {
    padding: 30px;
}
