.dropdown-currency {
    position: absolute;
    margin-left: 20px;
}
.dropdown-country {
    position: absolute;
    margin-top: 50px;
    margin-left:20px;
}
.form-avgPrice {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.arrow-up {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-bottom: solid 20px rgb(255,255,255);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}
.arrow-down {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-top: solid 20px rgb(255,255,255);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}